 <!-- =========================
     START ABOUT US SECTION
     ============================== -->


     <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>ESCRITOS</h2>
                        <p>De tanto perder aprendí a ganar; de tanto llorar se me dibujó la sonrisa que tengo. Conozco tanto el piso que sólo miro el cielo. 
                        Toqué fondo tantas veces que, cada vez que bajo, ya sé que mañana subiré. Me asombro tanto como es el ser humano, que aprendí a ser yo mismo.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <!-- PHONE -->
                            <img src="assets/images/opcion1.jpg" alt="" width="400" style="border-radius: 5%;">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2></h2>
                            <p>Tuve que sentir la soledad para aprender a estar conmigo mismo y saber que soy buena compañía. Intenté ayudar tantas veces a los demás, que aprendí a que me pidieran ayuda. 
                                Trate siempre que todo fuese perfecto y comprendí que realmente todo es tan imperfecto como debe ser (incluyéndome).
                                Hago solo lo que debo, de la mejor forma que puedo y los demás que hagan lo que quieran. Vi tantos perros correr sin sentido, que aprendí a ser tortuga y apreciar el recorrido. Aprendí que en esta vida nada es seguro, solo la muerte… por eso disfruto el momento y lo que tengo. 
                                Aprendí que nadie me pertenece, y aprendí que estarán conmigo el tiempo que quieran y deban estar, y quien realmente está interesado en mi me lo hará saber a cada momento y contra lo que sea. 
                                Que la verdadera amistad si existe, pero no es fácil encontrarla. Que quien te ama te lo demostrará siempre sin necesidad de que se lo pidas. Que ser fiel no es una obligación sino un verdadero placer cuando el amor es el dueño de ti. 
                                Eso es vivir…La vida es bella con su ir y venir, con sus sabores y sin sabores… aprendí a vivir y disfrutar cada detalle, aprendí de los errores pero no vivo pensando en ellos, pues siempre suelen ser un recuerdo amargo que te impide seguir adelante, pues, hay errores irremediables.
                                Las heridas fuertes nunca se borran de tu corazón pero siempre hay alguien realmente a dispuesto a sanarlas con la ayuda de Dios.  </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

       
</section>
<!-- End About Us -->


